{% extends "base.html" %}
{% block content %}

<h2>{{ object.title }}</h2>
<p>{{ object.content }}</p>
<p>By {{ object.author }}</p>

{% if user == object.author %}
    <a href="{% url 'post_update' object.pk %}">Edit</a>
    <a href="{% url 'post_delete' object.pk %}">Delete</a>
{% endif %}

{% endblock %}

<p>
    Tags:
    {% for tag in object.tags.all %}
        <a href="{% url 'posts_by_tag' tag.name %}">
            #{{ tag.name }}
        </a>
    {% empty %}
        No tags
    {% endfor %}
</p>
